body {
  background-color: rgb(111, 111, 111);
  background-size: cover;
}

p {
  margin: 5px;
  text-indent: 20px;
}

#content {
  margin-bottom: 20px;
  margin-top: 40px;
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 30px;
}

a {
  color: black;
}

#picture {
  float: right;
  height: 257px;
}

h1 {
  font-variant: small-caps;
  font-style: italic;
}

li {
  margin-left: 15px;
  list-style-type: square;
}

table {
  width: 80%;
  margin: auto;
}
